@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RussoOne";
  src: url("fonts/RussoOne-Regular.ttf");
}

@font-face {
    font-family: "ShareTech";
    src: url("fonts/ShareTech-Regular.ttf");
  }

@font-face {
    font-family: "ShareTechMono";
    src: url("fonts/ShareTechMono-Regular.ttf");
  }

@font-face {
    font-family: "BebasNeue";
    src: url("fonts/BebasNeue-Regular.ttf");
  }

@font-face {
  font-family: "Anta";
  src: url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
}

/* note these did not work -- not sure why local font files are not being used */
@font-face {
  font-family: "MokotoRegular";
  src: url("fonts/mokoto-mokoto-regular-400.ttf") format('.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MokotoGlitch";
  src: url("fonts/mokoto-mokoto-regular-glitch-mark-1-400.ttf") format('.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}