---
import Layout from '../layouts/Layout.astro';
import logo from '../content/logo.png';
import { Navbar } from '../components/NavBar.jsx';
import { Document } from 'react-pdf';
import Footer from '../components/Footer.astro';
---

<Layout title="Paradigm Engineering">
	<main>
		<Navbar client:load />
		<div id="home" class="relative w-full h-[60rem]">
			<div class="w-full h-full bg-[url('/temp-bg.jpeg')] bg-cover bg-center" />
			<div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col justify-center items-center">
				<div class="flex items-center lg:flex-row flex-col lg:text-start text-center">
					<img class="h-60 w-60 animate-spin-slow invert" src={logo.src}>
					<div class="text-white font-roboto text-8xl">Paradigm Engineering</div>
				</div>
			</div>
		</div>
		<div id="about" class="flex flex-row">
			<div class="mx-20 mt-6">
				<div class="relative pl-8 sm:pl-32 py-6 group">
					<div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
						<time class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-emerald-600 bg-emerald-100 rounded-full">2016-2019</time>
						<div class="text-xl font-bold text-slate-900">Founded as Paradigm Hyperloop</div>
					</div>
					<div class="text-slate-500">Competed in the SpaceX Hyperloop Competition. Placed 2nd in the 2017 Competition</div>
				</div>
				
				<!-- Item #2 -->
				<div class="relative pl-8 sm:pl-32 py-6 group">
					<div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
						<time class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-emerald-600 bg-emerald-100 rounded-full">2021-2023</time>
						<div class="text-xl font-bold text-slate-900">Intelligent Ground Vehicle Competition</div>
					</div>
					<div class="text-slate-500">Did not qualify for their competition. Placed 11th out of 17 in 2023.</div>
				</div>
				
				<!-- Item #3 -->
				<div class="relative pl-8 sm:pl-32 py-6 group">
					<div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
						<time class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-emerald-600 bg-emerald-100 rounded-full">2022-2023</time>
						<div class="text-xl font-bold text-slate-900">FMUNTENTH is founded</div>
					</div>
					<div class="text-slate-500">Built and constructed a self-driving, 1/10th scale racing vehicle. Competed in the F1Tenth Competition in San Antonio, Texas at the CPS-IoT Conference. Placed 9th out of 13. Won Most Spirited and Best Dressed!</div>
				</div>
				
				<!-- Item #4 -->
				<div class="relative pl-8 sm:pl-32 py-6 group">
					<div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
						<time class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-emerald-600 bg-emerald-100 rounded-full">2023-NOW</time>
						<div class="text-xl font-bold text-slate-900">New Beginnings</div>
					</div>
					<div class="text-slate-500">In September of 2023 FMUNTENTH, branded as MUN E-Motorsports, merged with Paradigm to combine resources to start striving towards larger projects. Now Paradigm is upscaling to an autonomous go-kart to compete in the Autonomous Kart Series (AKS) hosted by Purdue University in May of 2024!</div>
				</div>
			</div>
		</div>
		<div id="sponsors" class="flex flex-col mx-10">
			<div class="text-3xl font-roboto">Sponsors</div>
			<div class="text-gray-500">Sponsors are a cruicial part of our team! They allow us to research, design and fabricate our projects are let us travel to our competitions! If your would like to help us out read our sponsorship package below!</div>
			<div class="flex flex-col items-center">
				<iframe class="h-screen lg:w-[50%] w-full py-5" src="/Sponsorship Package-3.pdf" allow="autoplay"></iframe>
				<a class="pb-5" href="/Sponsorship Package-3.pdf"><button type="button" class="text-white focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-blue-800">Download</button></a>
			</div>
		</div>
	</main>
	<Footer />
</Layout>
