---
import { Image } from "astro:assets";

const {image, name, linkedin, isLarge = false, title} = Astro.props;
---
<div class="flex flex-col items-center px-4 py-2">
	<div class="relative mx-auto rounded-[128px] overflow-hidden shadow-xl">
		<Image height={768} src={image} alt="Profile" />
	</div>
	<div class="pt-1 lg:text-xl font-bold">{name}</div>
	<div class="pt-1 lg:text-lg text-sm font-roboto pb-1" >{title}</div>
	<a href={linkedin} target="_blank" rel="noopener noreferrer">
		<img src="icon-li-sm.png" width="24"/>
	</a>
</div>